<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="title">
                <h1>Reset Password</h1> <!-- Title for reset password page-->
            </div>
        </div>
    </div>
</div>

<div class="container reset-password"> <!-- Container for reset password form-->
    <div class="row">
        <div class="col-sm-12">
            <ng-container> <!-- reset password form-->
               <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
                    <div class="form-group new-password">
                        <label for="password">Password:</label><!--Input field for new password-->
                        <input type="text" placeholder="Password" name="password" id="password" class="form-control" formControlName="password"
                            [ngClass]="{ 'error' : isInvalid('password') }">
                    </div>
                    <div class="form-group new-confirmPass">
                        <label for="confirmPass">Confirm Password:</label> <!--Input field for new confirm password-->
                        <input type="text" placeholder="Confirm Password" name="confirmPass" id="confirmPass" class="form-control" formControlName="confirmPass"
                            [ngClass]="{ 'error' : isInvalid('confirmPass') }">
                    </div>
                    <div class="btns"> <!--Container for buttons-->
                        <div class="resetPassword"> <!--Submit button for reset password-->
                        <button [disabled]="isIncomplete()" class="btn btn-primary" type="submit">
                            Submit 
                        </button>
                        </div>
                    </div>
               </form>
            </ng-container>
        </div>
    </div>
</div>